# Jupyter Notebook
.ipynb_checkpoints

# OS junk files
*.DS_Store

# Big files
grade_4_report.html
grade_8_report.html

grade_4_hdr.csv
grade_8_hdr.csv

grade_4_final.csv
grade_8_final.csv

# Folders contain original data
T19_G4_SAS Data/*
T19_G8_SAS Data/*
